<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CPTED_6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.cpted.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.cpted.servlet.InitServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SseServlet</display-name>
    <servlet-name>SseServlet</servlet-name>
    <servlet-class>com.cpted.servlet.SseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SseServlet</servlet-name>
    <url-pattern>/SseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovePageServlet</display-name>
    <servlet-name>MovePageServlet</servlet-name>
    <servlet-class>com.cpted.servlet.MovePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovePageServlet</servlet-name>
    <url-pattern>/MovePageServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>